@import "../../../sass/utils/_colors.scss";

.chat__wrapper {
  height: 100%; /* высота нашего блока */
  background: #fff; /* цвет фона, белый */
  overflow-y: scroll; /* прокрутка по вертикали */
}

.chat__title {
  width: 100%;
  padding: 20px;
  background-color: map-get($colors, primary);
  color: #00bfff;
}

.chat__list {
  width: auto;
  height: 70vh;
  background-color: map-get($colors, primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
