@import "../../../sass/utils/_colors.scss";

.messages {
  &__unread {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    background-color: map-get($colors, accent);

    svg {
      margin-right: 5px;
    }
    p {
      margin: 0;
    }
  }
}
